@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.col-lg-5{
	font-family: 'Poppins' !important;
}
.col-lg-4 h1{
	font-size: 20px;
	font-family: 'Poppins' !important;
	font-weight: 800;

}
.col-lg-4 a{
	font-size: 15px;
}
.contact{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	padding-top: 110px;
    padding-bottom: 20px;
	z-index: 2;
	text-align: left;
	background: linear-gradient(-45deg,#fd723b,#3080E3);
	-webkit-box-shadow: 0 7px 30px rgb(0 0 0 / 8%);
	box-shadow: 0 7px 30px rgb(0 0 0 / 8%);
	a {
		&:hover {
			color: white;
		}
	}
}
h3{
	font-size: 20px !important;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}
.for-bottom{
	display: flex;
   flex-direction: row;
   justify-content: center;
}
.contact h1{
	display: flex;
	justify-content: center;
}
.col-lg-5 p{
	margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
	color: gray;
}
nav {
	background-color: white;
}
.signingbutton {
	background-color: #3080E3 !important;
	color: azure;
}
.map {
	a {
		text-decoration: none;
		color: white;
	}
}
.form-group {
	padding: 20px 0;
	margin-left: 0px;
	label {
		padding: 5px 0;
		color: gray;
	}
}
.form {
	button {
		height: 50px !important;
	}
	padding: 50px;
	-webkit-box-shadow: 0 0 35px #00000012;
	box-shadow: 0 0 35px #00000012;
	border-radius: 12px;
	background-color: #fff;
}
.fill {
	background-color: #f4f7fa;
}
.filling {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:focus {
	border: 3px solid #555 !important;
  }
.coloured{
	display: flex;
	flex-direction: row;
}
.styledinput:focus{
	border:1px solid #3080E3 !important; 
}
.clr:focus{
	border:1px solid #3080E3 !important; 
}
.zoomthis:hover{
	transform: scale(1.5);
}
.styledinput {
    height: 55px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 0 20px !important;
    width: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mainbutton{
	display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
	height: 54.5;
    background-color: #3080e3;
    color: #fff;
    border: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
}
textarea{
	height: 200px;
}
.cnt-us{
	display: flex;
	flex-direction: row;
}
.color{
	display: flex;
	flex-direction: row;
	align-content: center;
}
.coloured{
	display: flex !important;
	justify-content: space-between !important;
}
#button {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color:#3080e3;
    width: 50px;
	font-family: 'Roboto';
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  #button:hover {
    cursor: pointer;
    background-color:orange;
  }
  #button:active {
    background-color: orange;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  input[type=text]:focus {
	outline: none;

  }

@media only screen and (max-width: 600px){
    .about .content {
        padding-right: 80px;
    }
	form{
		margin-bottom: 40px;
	}
	.cnt-us {
		position: absolute;
		display: flex;
		flex-direction: column;
	}
	
	.contact{
		padding-bottom: 100px;
	}
	.for-bottom{
		display: flex;
   		 flex-direction: row;
    	justify-content: center;
	}
	.contact h1{
		display: flex;
		justify-content: center;
	}
	
  
}
@media only screen and (min-width:321px) and (max-width:768px){
	.about .content {
        padding-right: 80px;
    }
	form{
		margin-bottom: 40px;
	}
	.cnt-us {
		position: absolute;
		display: flex;
		flex-direction: column;
	}
	
	.contact{
		padding-bottom: 100px;
	}
	.for-bottom{
		display: flex;
   		 flex-direction: row;
    	justify-content: center;
	}
	.contact h1{
		display: flex;
		justify-content: center;
	}
}
